In [1]:
age =20
print(f"my age is: {age}")

my age is: 20

In [2]:
age=17
print("my age is:",age)

my age is: 17

In [3]:
age=20
name ="kaushik"
print("the name {} and the age {}".format(name,age))

the name kaushik and the age 20

In [6]:
age=20 #placeholder
name ="kaushik"
print("the name {a} and the age {b}".format(b=age,a=name))

the name kaushik and the age 20

In [7]:
name="kaushik"
age=20
degree="BE"
print("my age is {} and my drgree is : {} with the name of {}".format(age,degree,name))

my age is 20 and my drgree is : BE with the name of kaushik

In [10]:
#fstring format
name="kaushik"
age=20
degree="BE"
print(f"my age is {age} and my degree is {degree} with the name {name}")

my age is 20 and my degree is BE with the name kaushik

## control flow 
### decision making statements

In [12]:
age=18
if age<18:
    print("you are not eligible to vote")

you are not eligible to vote

In [13]:
name=input("enter your name")
print(name)

enter your name krg

krg

In [19]:
name=int(input("enter your age"))
print(name)
if name>=18 and name<=45:
    print("you are a young blood")
else:
    print("invalid")

enter your age 50

50
invalid

In [18]:
20<40

True

In [25]:
price=int(input("enter the product price"))
if price>1000:
    
    price=price-0.2*price
    print(price)
elif price<=1000:
    if price==999:
        print('you will get a suitcase')
    price=price-0.3*price
    print(price)

enter the product price 999

you will get a suitcase
699.3

In [28]:
# while loop
age=20
while age<=35:
    age=age+1
    print(age)

21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36

In [1]:
lst=[1,2,3,'kaushik']

In [2]:
type(lst)

list

In [3]:
list[3]

list[3]

In [4]:
lst[3]

'kaushik'

In [5]:
lst

[1, 2, 3, 'kaushik']

In [2]:
kaushik = 'abcde'
for a in kaushik:
    print(a,end='')

abcde

In [4]:
n=int(input("enter the number"))
for i in range(0,n,7):
    print(i)

enter the number 100

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [7]:
n=int(input("entr the rows"))
for i in range(0,n):
    for j in range(0,i+1):
        print('x',end='')
    print('\r')

entr the rows 5

x
xx
xxx
xxxx
xxxxx